{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>UI_for_Report</title>
</head>
{% block content %}

<body class="bg-theme bg-theme1">
 

<div class="clearfix"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">

  <div class = "row">   
     <div class="col-12 col-lg-6 col-xl-6">
        <div class="card">
           <div class="card-header" style="font-size: 20px">Total Command {{staList[5]}}
             <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
             </a>
              </div>
             </div>
           </div>
           <div class="card-body">
         <div class="chart-container-2">
               <canvas id="myChart"></canvas>
        </div>
           </div>
           <div class="table-responsive">
             <table class="table align-items-center">
               <tbody>
                 <tr>
                   <td><i class="fa fa-circle text-white mr-2"></i>ON/OFF</td>
                   {% if staList[5] == 0 %}
                   <td>TOTAL: {{staList[0][0]}}</td>
                   <td>Ratio: 0.0%</td>
                 </tr>
                 <tr>
                   <td><i class="fa fa-circle text-light-1 mr-2"></i>Color Temperature</td>
                   <td>TOTAL: {{staList[1][0]}}</td>
                   <td>Ratio: {0.0%</td>
                 </tr>
                 <tr>
                   <td><i class="fa fa-circle text-light-2 mr-2"></i>Dim Level</td>
                   <td>TOTAL: {{staList[2][0]}}</td>
                   <td>Ratio: 0.0%</td>
                   {% else %}
                   <td>TOTAL: {{staList[0][0]}}</td>
                   <td>Ratio: {{'%.1f'|format(staList[
                   0][0]/staList[5]*100)}}%</td>
                 </tr>
                 <tr>
                   <td><i class="fa fa-circle text-light-1 mr-2"></i>Color Temperaturejmn </td>
                   <td>TOTAL: {{staList[1][0]}}</td>
                   <td>Ratio: {{'%.1f'|format(staList[1][0]/staList[5]*100)}}%</td>
                 </tr>
                 <tr>
                   <td><i class="fa fa-circle text-light-2 mr-2"></i>Dim Level</td>
                   <td>TOTAL: {{staList[2][0]}}</td>
                   <td>Ratio: {{'%.1f'|format(staList[2][0]/staList[5]*100)}}%</td>
                   {% endif %}
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
     </div>
      <div class="col-12 col-lg-6 col-xl-6">
        <div class="card">
           <div class="card-header" style="font-size: 20px; color:#f78c97">Total NG {{staList[3]}}
             <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
             </a>
              </div>
             </div>
           </div>
           <div class="card-body">
         <div class="chart-container-2">
               <canvas id="myChart2"></canvas>
        </div>
           </div>
           <div class="table-responsive">
             <table class="table align-items-center">
               <tbod>
                 <tr style="color:rgba(247, 140, 151)">
                   <td><i class="fa fa-circle text-white mr-2" style="color:rgba(247, 140, 151) !important"></i>ON/OFF</td>
                   {% if staList[3] == 0 %} 
                  <td>TOTAL: {{staList[0][2]}}</td>
                   <td>Ratio: 0.0%</td>
                 </tr>
                 <tr style="color:rgba(247, 140, 151)">
                   <td><i class="fa fa-circle text-light-1 mr-2" style="color:rgba(247, 140, 151, 0.70) !important"></i>Color Temperature</td>
                   <td>TOTAL: {{staList[1][2]}}</td>
                   <td>Ratio: 0.0%</td>
                 </tr>
                 <tr style="color:rgba(247, 140, 151)">
                   <td><i class="fa fa-circle text-light-2 mr-2" style="color:rgba(247, 140, 151, 0.60) !important"></i>Dim Level</td>
                   <td>TOTAL: {{staList[2][2]}}</td>
                   <td>Ratio: 0.0%</td>
                 {% else %}
                   <td>TOTAL: {{staList[0][2]}}</td>
                   <td>Ratio: {{'%.1f'|format(staList[
                   0][2]/staList[3]*100)}}%</td>
                 </tr>
                 <tr style="color:rgba(247, 140, 151)">
                   <td><i class="fa fa-circle text-light-1 mr-2" style="color:rgba(247, 140, 151, 0.70) !important"></i>Color Temperature</td>
                   <td>TOTAL: {{staList[1][2]}}</td>
                   <td>Ratio: {{'%.1f'|format(staList[1][2]/staList[3]*100)}}%</td>
                 </tr>
                 <tr style="color:rgba(247, 140, 151)">
                   <td><i class="fa fa-circle text-light-2 mr-2" style="color:rgba(247, 140, 151, 0.60) !important"></i>Dim Level</td>
                   <td>TOTAL: {{staList[2][2]}}</td>
                   <td>Ratio: {{'%.1f'|format(staList[2][2]/staList[3]*100)}}%</td>
                   {% endif %}
                 </tr>

               </tbody>
             </table>
           </div>
         </div>
     </div>
  </div>   



     <div class="row m-0 row-group text-center border-top border-light-3">
       <div class="col-12 col-lg-4">
         <div class="p-3">
           <h5 class="mb-0" style="color:#d00000">ON/OFF NG {{staList[0][2]}} </h5>
         </div>
       </div>
       <div class="col-12 col-lg-4">
         <div class="p-3">
           <h5 class="mb-0" style="color:#d00000">Color Temperatue NG {{staList[1][2]}}</h5>
         </div>
       </div>
       <div class="col-12 col-lg-4">
         <div class="p-3">
           <h5 class="mb-0" style="color:#d00000">Dim Level NG {{staList[2][2]}}</h5>
         </div>
       </div>
     </div>
     

  <div class="row">
   <div class="col-12 col-lg-12">
     <div class="card">
       <div class="card-header">Zigbee Command Report
      <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <input class='showpacket' type="button" value="ALL_PKT" onclick="zzz()">
              </input>
            </a>
              <form class="form-inline" method="POST" action="{{ url_for('zigbee_report') }}" style="float: left; margin-right: 20px">
                <select name="FileName" class="selectpicker form-control">
                   <option value="" selected disabled hidden>{{ selectedpkt }}</option>
                   {% for fileName in fileList %}
                 <option value="{{ fileName }}">{{ fileName }}</option> 
                   {% endfor %}
                  }
                </select>
                <button type="submit" class="btn btn-default" style="color:#ffffff">Load</button> 
              </form>
              </div>
             </div>
     </div>
         <div class="table-responsive">
                 <table class="table align-items-center table-flush table-borderless">
                  <thead>
                   <tr>
                     <th>Index</th>
                     <th>Command Type</th>
                     <th>Command Value</th>
                     <th>Source</th>
                     <th>Flow</th>
                     <th>Destination</th>
                     <th>Success</th>
                     <th>Send Time</th>
                     <th>Error Code</th>
                     <th>Packet State</th>
                   </tr>
                   </thead>
                   <tbody>
                     {% for fileNumber, transNum, pktNum, cmd, cmd_val, dst, src, time, pkt_state, pkt_msg, success in bleList %}
                      {% if success == "success" %}
                        <tr class="should_hide" style="color:#07c733; display: none;">
                          <td>{{transNum}}</td>
                          <td>{{cmdType}}</td>
                          <td>{{cmd_val}}</td>
                          <td>{{src}}</td>
                          <td>
                          ------▶
                          </td>
                          <td>{{dst}}</td>
                          <td>{{time}}</td>
                          <td>{{sndtime}}</td>
                          <td>{{pkt_msg}}</td>
                          <td>0 (Success)</td>
                          <td>{{pkt_state}}</td>
                        </tr>
                        <tr class="should_hide" style="color:#07c733; display: none;">
                          <td></td>
                          <td></td>
                          <td>{{src}}</td>
                          <td>
                          ◀------
                          </td>
                          <td>{{dst}}</td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      {% else %}
                        <tr style="color:#f78c97">
                          <td>{{transNum}}</td>
                          <td>{{cmdType}}</td>
                          <td>{{cmd_val}}</td>
                          <td>{{src}}</td>
                          <td>
                          ------▶
                          </td>
                          <td>{{dst}}</td>
                          <td>{{time}}</td>
                          <td>{{sndtime}}</td>
                          <td>0 (Success)</td>
                          <td>{{pkt_state}}</td>
                          {% if errcode == 1 %}
                          <td>
                          --X--▶
                          </td>
                          <td>{{dst}}</td>
                          <td>{{success}}</td>
                          <td>X</td>
                          <td>{{errcode}} (No Command Send)</td>
                          {% else %}
                          <td>
                          ------▶
                          </td>
                          <td>{{dst}}</td>
                          <td>{{success}}</td>
                          <td>{{sndtime}}</td>
                          <td>{{errcode}} (No Command Response)</td>
                          {% endif %}
                        </tr>
                        <tr style="color:#f78c97">
                          <td></td>
                          <td></td>
                          <td>{{src}}</td>
                          {% if errcode == 2 %}
                          <td>
                          ◀--X--
                          </td>
                          <td>{{dst}}</td>
                          <td></td>
                          <td>X</td>
                          <td></td>
                          {% else %}
                          <td>
                          ◀------
                          </td>
                          <td>{{dst}}</td>
                          <td></td>
                          <td>{{rcvtime}}</td>
                          <td></td>
                          {% endif %}
                        </tr>
                      {% endif %}
                  {% endfor %} 
                  
                 </tbody></table>
               </div>
     </div>
   </div>
  </div><!--End Row-->

    
  <!--start overlay-->
      <div class="overlay toggle-menu"></div>
    
    </div>
    
    </div>
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
  
  <!--Start footer-->
  <footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Dashtreme Admin
        </div>
      </div>
    </footer>
  <!--End footer-->
  
  <!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
        <li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>
      
     </div>
   </div>
  <!--end color switcher-->
   
  </div><!--End wrapper-->
  <script type="text/javascript">
    window.onload = $(function(){  
    var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["ON/OFF", "Color Temperature", "Dim Level"],
          datasets: [{
            backgroundColor: [
              "#ffffff",
              "rgba(255, 255, 255, 0.70)",
              "rgba(255, 255, 255, 0.50)",
            ],
            data: ['{{staList[0][0]}}', '{{staList[1][0]}}', '{{staList[2][0]}}'],
            borderWidth: [0, 0, 0]
          }]
        },
      options: {
        maintainAspectRatio: false,
         legend: {
         position :"bottom",  
         display: false,
            labels: {
            fontColor: '#ddd',  
            boxWidth:15
           }
        }
        ,
        tooltips: {
          displayColors:false
        }
         }
      });
    var ctx2 = document.getElementById('myChart2').getContext('2d');
      var myChart = new Chart(ctx2, {
        type: 'doughnut',
        data: {
          labels: ["ON/OFF", "Color Temperature", "Dim Level"],
          datasets: [{
            backgroundColor: [
              "#f78c97",
              "rgba(247, 140, 151, 0.70)",
              "rgba(247, 140, 151, 0.50)",
            ],
            data: ['{{staList[0][2]}}', '{{staList[1][2]}}', '{{staList[2][2]}}'],
            borderWidth: [0, 0, 0]
          }]
        },
      options: {
        maintainAspectRatio: false,
         legend: {
         position :"bottom",  
         display: false,
            labels: {
            fontColor: '#ddd',  
            boxWidth:15
           }
        }
        ,
        tooltips: {
          displayColors:false
        }
         }
      }); 
   });

$('.showpacket').click(function(){
    if(document.querySelector('.showpacket').value === 'ALL_PKT'){
       $('.should_hide').show();
       document.querySelector('.showpacket').value = 'ONLY_NG';
     }
     else if(document.querySelector('.showpacket').value === 'ONLY_NG'){
      $('.should_hide').hide();
      document.querySelector('.showpacket').value = 'ALL_PKT';
    }
  });

  </script>
{% endblock %}

</body>
</html>
